body {
  background-color: rgb(45, 122, 45);
}
.rating {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.item {
  background-color: rgb(198, 198, 198);
  -webkit-mask-image: url(star.svg);
  mask-image: url(star.svg);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.item-full {
  background-color: rgb(255, 237, 35);
}
