body {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  font-size: 38px;
  font-weight: bold;
}
